<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ROCA HEALTH</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Invent
  * Template URL: https://bootstrapmade.com/invent-bootstrap-business-template/
  * Updated: May 12 2025 with Bootstrap v5.3.6
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <h1 class="sitename">ROCA</h1><span>+</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#portfolio">Graphics</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#forms">Forms</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#forms">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center mb-5">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="badge-wrapper mb-3">
            </div>

            <h1 class="hero-title mb-4">Prevention of Cardiovascular Diseases</h1>

            <p class="hero-description mb-4">Welcome to <strong>ROCA HEALTH</strong>!</p>
              <p>Here, we use Artificial Intelligence techniques trained on real clinical data to estimate the risk of developing conditions
              such as hypertension, high cholesterol, diabetes, and obesity.</p>
              <p>By filling out our form with simple information about your lifestyle and physical characteristics, our system processes the data and provides a personalized risk estimate.
              This technology does not replace a medical diagnosis, but it can help identify risk factors early and encourage healthier habits.</p>
              <p>Your well-being starts with information.</p>
              <p>Discover your risks and take care of your health today.</p>

          </div>

          <div class="col-lg-6">
            <div class="hero-image">
              <img src="assets/img/illustration/illustration-16.webp" alt="Business Growth" class="img-fluid" loading="lazy">
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->
    

    <!-- How We Work Section -->
    <section id="how-we-work" class="how-we-work section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>How We Work</h2>
        <p>Check out some of the development stages of our project.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="steps-5">
          <div class="process-container">

            <div class="process-item" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <span class="step-number">01</span>
                <div class="card-body">
                  <div class="step-icon">
                    <i class="bi bi-pencil-square"></i>
                  </div>
                  <div class="step-content">
                    <h3>Database</h3>
                    <p>The database Smoking and Drinking Dataset with body signal was chosen to be used as the basis for our project.</p>
                  </div>
                </div>
              </div>
            </div><!-- End Process Item -->

            <div class="process-item" data-aos="fade-up" data-aos-delay="300">
              <div class="content">
                <span class="step-number">02</span>
                <div class="card-body">
                  <div class="step-icon">
                    <i class="bi bi-gear"></i>
                  </div>
                  <div class="step-content">
                    <h3>Data Processing</h3>
                    <p>Preparation and processing of data, using Google Collab to create graphs and CSV files used in the next step.</p>
                  </div>
                </div>
              </div>
            </div><!-- End Process Item -->

            <div class="process-item" data-aos="fade-up" data-aos-delay="400">
              <div class="content">
                <span class="step-number">03</span>
                <div class="card-body">
                  <div class="step-icon">
                    <i class="bi bi-search"></i>
                  </div>
                  <div class="step-content">
                    <h3>AI Training</h3>
                    <p>Using the csv generated in the previous step to train artificial intelligence to perform our prediction.</p>
                  </div>
                </div>
              </div>
            </div><!-- End Process Item -->

            <div class="process-item" data-aos="fade-up" data-aos-delay="500">
              <div class="content">
                <span class="step-number">04</span>
                <div class="card-body">
                  <div class="step-icon">
                    <i class="bi bi-rocket-takeoff"></i>
                  </div>
                  <div class="step-content">
                    <h3>Platform development</h3>
                    <p>Development of the platform that explains a little about how it works and is ready to receive the data needed for forecasting.</p>
                  </div>
                </div>
              </div>
            </div><!-- End Process Item -->

          </div>
        </div>

      </div>

    </section><!-- /How We Work Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Graphics</h2>
        <p>Some graphs that were generated from our database.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row g-4 isotope-container" data-aos="fade-up" data-aos-delay="300">

            <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-web">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/smoke.jpeg" class="img-fluid" alt="" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/smoke.jpeg" class="glightbox preview-link" data-gallery="portfolio-gallery-web"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <span class="category">Graphics</span>
                  <h3>Smoking Status</h3>
                  <p>This graph shows the distribution of smoking status among individuals in the data set, 
                    indicating how many have never smoked, still smoke, or have already quit smoking.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-graphics">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/smk_drk.jpeg" class="img-fluid" alt="" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/smk_drk.jpeg" class="glightbox preview-link" data-gallery="portfolio-gallery-graphics"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <span class="category">Graphics</span>
                  <h3>Relationship between Smoking Status and Alcohol Consumption</h3>
                  <p>This bar graph shows the relationship between smoking status and alcohol consumption, 
                    comparing the number of smokers and non-smokers who are or are not alcohol consumers.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-motion">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/imcGraph.jpeg" class="img-fluid" alt="" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/imcGraph.jpeg" class="glightbox preview-link" data-gallery="portfolio-gallery-motion"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <span class="category">Graphics</span>
                  <h3>Distribution by BMI</h3>
                  <p>This graph shows the frequency distribution of BMI (Body Mass Index) in the population of the dataset, highlighting the most common values.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-brand">
              <div class="portfolio-card">
                <div class="portfolio-image">
                  <img src="assets/img/portfolio/ageGraph.jpeg" class="img-fluid" alt="" loading="lazy">
                  <div class="portfolio-overlay">
                    <div class="portfolio-actions">
                      <a href="assets/img/portfolio/ageGraph.jpeg" class="glightbox preview-link" data-gallery="portfolio-gallery-brand"><i class="bi bi-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <span class="category">Graphics</span>
                  <h3>Distribution by Age</h3>
                  <p>This plot displays the distribution of age with a histogram and a superimposed kernel density estimate, showing multiple peaks.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ROCA+</h2>
        <p>Members responsible for the development of the platform.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-card">
              <div class="team-image">
                <img src="assets/img/person/papa.png" class="img-fluid" alt="">
                <div class="team-overlay">
                  <div class="team-social">
                    <a href="https://www.instagram.com/g.parisio?igsh=MWRzbzFsNjN0aGRwcQ%3D%3D&utm_source=qr"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/gabrieloliveiraparisio/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <h4>Gabriel Parísio</h4>
                <span class="position">Dev FullStack</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-card">
              <div class="team-image">
                <img src="assets/img/person/lucas.jpeg" class="img-fluid" alt="">
                <div class="team-overlay">
                  <div class="team-social">
                    <a href="https://www.instagram.com/lucas.costarego?igsh=MTN3YnR5dTlsMWdxbw=="><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/lucascostaregocabral/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <h4>Lucas Costa</h4>
                <span class="position">Dev BackEnd</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-card">
              <div class="team-image">
                <img src="assets/img/person/marllon.png" class="img-fluid" alt="">
                <div class="team-overlay">
                  <div class="team-social">
                    <a href="https://www.instagram.com/eumarllonnn?igsh=Z3F3dWRiN2txd2tp"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/marllon-vicente-ba21b7289/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <h4>Marllon Vicente</h4>
                <span class="position">AI Trainer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-card">
              <div class="team-image">
                <img src="assets/img/person/miguel.png" class="img-fluid" alt="">
                <div class="team-overlay">
                  <div class="team-social">
                    <a href="https://www.instagram.com/miguelnunesc?igsh=MXFkdW50cXBxeWMwbA=="><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/miguelnunescavalcante/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="team-content">
                <h4>Miguel Nunes</h4>
                <span class="position">Dev FrontEnd</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Contact Section -->
    <section id="forms" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-card">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>
              <h3>Our Address</h3>
              <p>2847 Rainbow Road, Springfield, IL 62701, USA</p>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-card">
              <div class="icon-box">
                <i class="bi bi-telephone"></i>
              </div>
              <h3>Contact Number</h3>
              <p>Mobile: +1 (555) 123-4567<br>
                Email: info@example.com</p>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="info-card">
              <div class="icon-box">
                <i class="bi bi-clock"></i>
              </div>
              <h3>Opening Hour</h3>
              <p>Monday - Saturday: 9:00 - 18:00<br>
                Sunday: Closed</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="form-wrapper" data-aos="fade-up" data-aos-delay="400">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="text" name="gender" class="form-control" placeholder="Gender" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="number" placeholder="Age" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="height" class="form-control" placeholder="Height" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="Weight" placeholder="Weight" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="sightleft" class="form-control" placeholder="Sight Left" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="sighright" placeholder="Sight Right" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="hearleft" class="form-control" placeholder="Hear Left" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="hearright" placeholder="Hear Right" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="sbp" class="form-control" placeholder="SBP" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="waistline" placeholder="Waisttline" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="dbp" class="form-control" placeholder="DBP" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="blds" placeholder="BLDS" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="totchole" class="form-control" placeholder="Total Cholesterol" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="triglyceride" placeholder="Triglyceride" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="hemoglobin" class="form-control" placeholder="Hemoglobin" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="urine_protein" placeholder="Urine Protein" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="serumcreatinine" class="form-control" placeholder="Serum Creatinine" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="sgot_ast" placeholder="AST Enzymes" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="sgot-alt" class="form-control" placeholder="ALT enzymes" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" class="form-control" name="gammaGTP" placeholder="Gamma-Glutamil Transferase" required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="number" name="smk_stt" class="form-control" placeholder="SMK" required="">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 form-group">
                    <div class="input-group">
                      <span class="input-group-text"></span>
                      <input type="text" class="form-control" name="drkYn" placeholder="Drink(Y/N)" required="">
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="text-center">
                    <button type="submit">Submit Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">MyWebsite</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">ROCA+</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>